<%=form_for @user do |f|%>
<div><%=f.label :name%>
<%=f.text_field :name%></div>
<div><%=f.label :occupation%>
<%=f.text_field :occupation%></div>
<div><%=f.label :quote%>
<%=f.text_area :quote%></div>
<div>
<%=f.submit%>
<%end%>
</div>
<br>
<%=button_to "Return to User Profile", user_path(@user), method: "get"%>