<%=form_for @user do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<%=f.label :occupation%>
<%=f.text_field :occupation%>
<%=f.label :quote%>
<%=f.text_field :quote%>
<%=f.label :password%>
<%=f.password_field :password%>
<%=f.label :password_confirmation%>
<%=f.password_field :password_confirmation%>
<div>
<%=f.submit%>
<%end%>
</div>
<br>
<%=button_to "Return to List of Users", users_path, method: "get"%>