<%=form_for @user do |f|%>
<%=f.label :first_name%>
<%=f.text_field :first_name%>
<%=f.label :last_name%>
<%=f.text_field :last_name%>
<%=f.label :about%>
<%=f.text_field :about%>
<%=f.label :interests%>
<%=f.text_field :interests%>
<div>
<%=f.submit%>
<%end%>
</div>
<br>
<%=button_to "Return to List of Users", users_path, method: "get"%>