<h1><%=@user.name%></h1>
<% if !current_user.following?(@user)%>
        <%=button_to "Follow", user_follows_path(@user), method: "post"%>
    <% else %>
        <%=button_to "Unfollow", user_follow_path(@user), method: "delete"%>
    <%end%>
<br>

<div><img src= "<%= @user.photo_url %>" alt= "user image" height="170" width="160"></div>
  
<div>Followers | <%=@user.followers.count%></div>
<div>Following | <%=@user.followees.count%></div>


<h3>Occupation:</h3><%=@user.occupation%>
<h3>Favorite Quote:</h3><%=@user.quote%>
<h3>Guru Status:</h3>
    <%=@user.guru_status%>
    

<h3><%=@user.name%>'s Posts:</h3>
<ul>
    <%@user.posts.each do |post|%>
    <li><%=link_to post.title, post_path(post.id)%> | Zens: <%=post.zens.count%></li>
    <%end%>
</ul>


<% if !!current_user.nil? %>
    <%=button_to "Delete User", user_path(@user), method: "delete"%>
<% else %>
    <%=button_to "Back to Explore", posts_path, method: "get"%> 
<%end%>