<%=form_for @post do |f|%>
<%=f.label :title%>
<%=f.text_field :title%>
<%=f.label :media_link, "Link"%>
<%=f.text_field :media_link%>
<%=f.label :description%>
<%=f.text_field :description%>
<%=f.label :media_type, "Type of Content"%>
<%=f.select :media_type, ['Article', 'Podcast', 'Video', 'Book']%>
<div>
<%=f.submit%>
<%end%>
</div>
<br>
<%=button_to "Return to All Posts", posts_path, method: "get"%>