<h1>Post Detail</h1>

<h3>User:</h3><%=link_to @post.user.name, user_path(@post.user.id)%>
<h3>Description:</h3><%=@post.description%>
<h3>Post:</h3><%=link_to @post.title, @post.media_link, target: :_blank%>
<div><%=@post.media_type%> | <%=@post.zens.count%> <%= (@post.zens.count) == 1 ? 'Zen' : 'Zens'%><%=button_to "Zen", post_zens_path(@post), method: "post"%></div>

<%if flash[:notice]%>
    <div class = 'error'><%= flash[:notice] %></div>
<%end%>

<h3>Comments:</h3>
<ul>
<%@post.comments.each do |comment|%>
<li><%=comment.text%><br> by <%=comment.user.name%> <%=button_to "Delete this Comment", post_comment_path(post_id: @post.id, id: comment.id), method: "delete"%></li>
<%end%>
</ul>



<div>
<h3>Add Comment:</h3>
<%=form_for @new_comment, url: post_comments_path(@post.id) do |f|%>
<%=f.text_area :text, maxlength: 200%>
<%=f.submit "Create Comment"%>
<%end%>
</div>

<!--<%=button_to "Return to Explore", posts_path, method: "get"%>-->
<%=button_to "Delete Post", post_path(@post), method: "delete"%>


