<br><br>
<div><img src= "<%= @post.user.photo_url %>" alt= "user image" height="100" width="100"></div>

<div><%=link_to @post.user.name, user_path(@post.user.id)%>, posted on <%=@post.created_at.strftime("%A, %B %-d, %Y")%></div>
<div><%=@post.description%></div>

<br>
<%=link_to @post.title, @post.media_link, target: :_blank%>
<div><%=@post.media_type%> | <%=@post.zens.size%> <%= (@post.zens.size) == 1 ? 'Zen' : 'Zens'%><%=button_to "Zen", post_zens_path(@post), method: "post"%></div>



<%if flash[:notice]%>
    <div class = 'error'><%= flash[:notice] %></div>
<%end%>

<h4>Comments:</h4>
<ul>
<%@post.comments.each do |comment|%>
<li><%=comment.text%><br><%=comment.user.name%> on <%=comment.created_at.strftime("%A, %B %-d, %Y")%> 

<%=button_to "Delete this Comment", post_comment_path(post_id: @post.id, id: comment.id), method: "delete"%></li>
<%end%>
</ul>



<div>
<h4>Add Comment:</h4>
<%=form_for @new_comment, url: post_comments_path(@post.id) do |f|%>
<%=f.text_area :text, maxlength: 200%>
<%=f.submit "Create Comment"%>
<%end%>
</div>

<!--<%=button_to "Return to Explore", posts_path, method: "get"%>-->
<%=button_to "Delete Post", post_path(@post), method: "delete"%>


