<h1>Post Detail</h1>

<h3>User:</h3><%=@post.user.first_name%>
<h3>Title:</h3><%=@post.title%>
<h3>Description:</h3><%=@post.description%>
<h3>Type:</h3><%=@post.media_type%>

<%=button_to "Delete Post", post_path(@post), method: "delete"%>
<%=button_to "Return to Posts", posts_path, method: "get"%>