<div class = 'header_homepage'>

<h1 class = 'center'>Welcome to Guru</h1>
<h3 class = 'center'>Create a calming presence in your life</h3>
</div>


    <div class = 'center'><%if flash[:error_message]%></div>
   <div class = 'error_text'>
   <div class = 'center'> <div class = 'error'><%= flash[:error_message] %>
   </div>
   </div>
   </div>
<%end%>



 
<%= form_tag login_path do %>
<div class = 'center'>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
</div>
<div class = 'center'> 
    <%= label_tag :password%>
    <%= password_field_tag :password %>
</div>
    <div class = 'center'><%= submit_tag "Login" %></div>
<%end%>
